/* ROOT FOOTER */
.footer {
  background-color: white;
  padding: 60px 0 30px;
  border-top: 1px solid #eee;
  position: relative;
  overflow: hidden;
  font-family: sans-serif;
}

/* BACKGROUND IMAGE */
.footer::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 100%;
  background-image: url('../assets/images/HeaderFooter/Footerimg.png');
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  opacity: 1;
  z-index: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}

/* GRID LAYOUT */
.footerContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: left; /* DESKTOP LEFT */
  gap: 40px;
  margin-bottom: 40px;
}

/* LOGO */
.logo {
  max-width: 180px;
}

/* SOCIAL */
.socialMedia {
  display: flex;
  gap: 15px;
}

.socialIcon {
  width: 35px;
  height: 35px;
  background: #f5f5f5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.socialIcon:hover {
  background: #007bff;
}

.socialIcon:hover img {
  filter: brightness(0) invert(1);
}

/* LISTS */
.linkList {
  list-style: none;
  padding: 0;
  margin-left:-8%;
}

.link {
    text-decoration: none;
    color: #181433;
    font-size: 17px;
    padding-left: 13px;
    display: block;
    transition: 0.3s;
    margin: 4%;
}

.link:hover {
  color: #FA4318;
  transform: translateX(4px);
}

/* NEWSLETTER */
.newsletterForm {
  display: flex;
  align-items: center;
  width: 100%;
}

.emailInput {
  flex: 1;
  padding: 12px 15px;
  border: 1px solid #EBF4FF;
  background: #EBF4FF;
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.subscribeButton {
  padding: 12px 20px;
  background: #042C5C;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

/* BOTTOM BAR */
.bottomBar {
  border-top: 1px solid #eee;
  text-align: center;
  padding-top: 20px;
}

/* ========================
   RESPONSIVE MODE 992px
======================== */
@media (max-width: 992px) {
  .footerContent {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer::before {
    width: 35%;
    opacity: 0.07;
  }
}

/* ========================
   RESPONSIVE MODE 768px
======================== */
@media (max-width: 768px) {
  .footerContent {
    grid-template-columns: 1fr;
    text-align: center; /* CENTER MOBILE */
  }

  .socialMedia {
    justify-content: center;
  }

  .footer::before {
    display: none;
  }

  .link {
    padding-left: 0; /* CENTER CLEAN */
  }
}

/* ========================
      PERFECT FOR 375 PX
======================== */
@media (max-width: 480px) {
  .logo {
    max-width: 150px;
  }

  .emailInput {
    padding: 10px;
  }

  .subscribeButton {
    padding: 10px 15px;
  }

  .newsletterForm {
    flex-direction: row !important; /* ALWAYS SAME LINE */
  }
  .linkList{
    margin-left:0%;
  }
}
